/* Prettified by Source 2 Viewer 11.1.0.0 - https://valveresourceformat.github.io */

.Precache
{
	background-image: url("s2r://panorama/images/custom_game/payment/payment_bg_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/payment/payment_boost_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/payment/reset_mmr_png.vtex");
	background-image: url("s2r://");
	background-image: url("s2r://");
	background-image: url("s2r://panorama/images/custom_game/collection/base_booster_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/golden_booster_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/spin_border_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/spin_arrow_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/spin_background_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/spin_mask_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/collection_icon_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/collection_icon_12v12_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/collection_icon_ot_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/treasures/treasure_hallowed_shimmer_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/treasures/treasure_winter_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/treasures/treasure_pathfinders_gift_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/treasures/treasure_pathfinders_treasure_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/treasures/treasure_pathfinders_trophy_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/auras/test_aura_tour_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/auras/test_aura_1_sup1_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/auras/test_aura_2_mmr1700_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/auras/test_aura_3_treasure_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/auras/test_aura_5_coins_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/auras/diretide_emblem_yellow_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/auras/diretide_emblem_red_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/auras/diretide_emblem_green_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/auras/diretide_emblem_blue_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/auras/crystal_emblem_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/auras/overgrown_emblem_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/auras/sunken_emblem_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/auras/fountain_effect_ti6_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/auras/fountain_effect_ti7_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/auras/fountain_effect_ti8_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/auras/fountain_effect_ti9_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/auras/divinity_emblem_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/auras/newbloom_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/auras/donkey_ti7_ambient_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/auras/windrun_cascade_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/auras/flopjaw_ambient_gold_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/sprays/bear_cry_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/sprays/diretide_apple_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/sprays/diretide_boo_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/sprays/diretide_brood_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/sprays/diretide_bs_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/sprays/diretide_cat_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/sprays/diretide_dp_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/sprays/diretide_gummy_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/sprays/diretide_lycan_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/sprays/diretide_roshan_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/sprays/diretide_taffy_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/sprays/ez_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/sprays/based_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/sprays/furbolg_highfive_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/sprays/invoker_smart_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/sprays/kekw_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/sprays/kekwait_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/sprays/liltree_happy_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/sprays/liltree_sad_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/sprays/lina_angry_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/sprays/lion_xd_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/sprays/mirana_shh_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/sprays/monkas_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/sprays/monkey_zen_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/sprays/monkeyking_monkeychamp_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/sprays/naturesprophet_o_o_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/sprays/omegalul_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/sprays/pogu_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/sprays/pudge_nailedit_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/sprays/roflan_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/sprays/sf_shrug_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/sprays/shaker_confus_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/sprays/ti10_chicken_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/sprays/ti10_darkwillow_wow_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/sprays/ti10_grimstroke_happytree_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/sprays/ti10_invoker_sunstrike_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/sprays/ti10_jakiro_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/sprays/ti10_jugg_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/sprays/ti10_kotl_mana_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/sprays/ti10_mars_fightme_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/sprays/ti10_morphling_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/sprays/ti10_np_popcorn_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/sprays/ti10_ogre_think_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/sprays/ti10_roshan_cheese_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/sprays/ti10_rubick_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/sprays/ti10_snapfire_cookie_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/sprays/ti10_sven_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/sprays/ti10_techies_barrel_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/sprays/ti10_troll_loser_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/sprays/ti10_undying_rip_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/sprays/ti10_wisp_strong_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/sprays/ti10_wraithking_cdi_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/sprays/ti9_aa_icecream_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/sprays/ti9_bountyhunter_riches_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/sprays/ti9_earthshaker_dunk_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/sprays/ti9_legioncommander_loser_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/sprays/ti9_legioncommander_winner_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/sprays/ti9_lion_zap_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/sprays/ti9_meepo_dirt_nap_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/sprays/ti9_monkeyking_bananaphone_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/sprays/ti9_phoenix_eggy_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/sprays/ti9_puck_dagoned_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/sprays/ti9_pugna_magic_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/sprays/ti9_riki_hidden_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/sprays/ti9_skywrath_dunno_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/sprays/ti9_spiritbreaker_choochoo_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/sprays/ti9_sven_strength_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/sprays/ti9_tusk_snowball_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/sprays/ti9_ursa_funny_bear_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/sprays/ti9_wyvern_kiss_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/sprays/ti9_zeus_jump_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/sprays/tide_thumbsup_spray_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/roshan_pet_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/chicken_pet_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/blue_dragon_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/red_dragon_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/gold_dragon_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/platinum_roshan_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/pet_spider_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/devourling_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/seekling_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/pudgling_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/doomling_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/huntling_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/krobeling_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/venoling_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/voidling_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/lunaling_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/butch_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/bearling_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/wyvern_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/almond_the_frondillo_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/mechanical_spider_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/ice_spider_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/coconut_warrior_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/shroomling_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/luminaries_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/baby_roshan_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/baby_roshan_collector2017_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/baby_roshan_desert_sand_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/baby_roshan_golden_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/baby_roshan_jade_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/baby_roshan_lava_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/baby_roshan_ice_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/baby_roshan_dark_moon_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/baby_roshan_honey_heist_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/baby_roshan_gingerbread_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/strongback_the_swift_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/golden_doomling_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/golden_huntling_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/golden_krobeling_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/golden_venoling_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/golden_seekling_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/golden_devourling_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/golden_greevil_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/golden_beetlejaws_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/golden_flopjaw_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/hallowed_horde_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/fraidy_jack_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/hollow_jack_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/spooly_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/scatter_brains_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/skeleton_warrior_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/wraith_warrior_green_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/wraith_warrior_red_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/wraith_spider_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/icewrack_wolf_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/duskie_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/scuttling_scotty_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/serac_the_seal_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/snowl_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/throe_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/wabbit_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/wabbit_the_mighty_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/boreal_sigil_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/jade_dragon_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/redhoof_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/redhorn_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/teron_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/azuremir_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/gama_brothers_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/nian_courier_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/jadehorn_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/jadehoof_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/hunter_shapeshift_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/smeevil_mammoth_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/babyroshan_ti10_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/tory_the_sky_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/skippy_parrot_flying_rowboat_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/aghanim_pet_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/witchs_grasp_spiderling_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/octopus_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/trainer_dragon_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/red_panda_flying_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/pangolier_squire_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/pets/amaterasu_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/killeffects/kill_effect_phantom_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/killeffects/kill_effect_red_ash_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/killeffects/kill_effect_green_ash_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/killeffects/kill_effect_blue_ash_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/killeffects/kill_effect_purple_ash_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/killeffects/kill_effect_yellow_ash_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/killeffects/kill_effect_diretide_bats_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/killeffects/kill_effect_midnight_pulse_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/killeffects/kill_effect_sparkles_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/killeffects/kill_effect_leaves_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/killeffects/kill_effect_impact_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/killeffects/kill_effect_flash_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/killeffects/kill_effect_raze_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/killeffects/kill_effect_snow_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/killeffects/kill_effect_red_whirl_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/killeffects/kill_effect_blue_whirl_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/killeffects/kill_effect_avowance_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/killeffects/kill_effect_newbloom_sparkles_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/killeffects/kill_effect_newbloom_explosion_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/killeffects/kill_effect_newbloom_fireworks_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/killeffects/kill_effect_starshower_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/barrages/barrages_bg_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/items/items_bottle_ti6_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/items/items_eul_ti6_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/items/items_force_staff_ti6_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/items/items_mekansm_ti6_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/items/items_mael_mjoll_ti6_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/items/items_phase_boots_ti6_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/items/items_radiance_ti6_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/items/items_bottle_ti7_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/items/items_eul_ti7_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/items/items_force_staff_ti7_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/items/items_dagon_ti7_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/items/items_iron_branch_ti7_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/items/items_phase_boots_ti7_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/items/items_mael_mjoll_ti7_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/items/items_mekansm_ti7_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/items/items_radiance_ti7_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/items/items_eul_ti8_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/items/items_force_staff_ti8_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/items/items_bottle_ti8_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/items/items_phase_boots_ti8_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/items/items_mekansm_ti8_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/items/items_radiance_ti8_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/items/items_mael_mjoll_ti8_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/items/items_eul_ti9_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/items/items_force_staff_ti9_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/items/items_bottle_ti9_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/items/items_phase_boots_ti9_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/items/items_mekansm_ti9_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/items/items_mael_mjoll_ti9_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/items/items_radiance_ti9_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/specials/high_five_white_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/specials/high_five_dark_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/specials/high_five_bronze_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/specials/high_five_midas_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/specials/high_five_winter_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/specials/high_five_ice_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/specials/high_five_fire_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/specials/high_five_paw_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/specials/high_five_diretide_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/specials/high_five_newbloom_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/specials/high_five_skeleton_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/specials/attack_projectile_divine_shadow_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/specials/attack_projectile_divine_light_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/specials/attack_projectile_ti10_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/specials/attack_projectile_burning_rock_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/specials/attack_projectile_frozen_rock_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/specials/attack_projectile_ti9_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/specials/ability_reroll_1_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/specials/ability_reroll_2_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/specials/glory_pack_50_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/specials/glory_pack_100_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/specials/glory_pack_150_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/specials/glory_pack_200_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/collection_trophy_source_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/collection_glory_source_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/item_equipped_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/glory_shop/glory_bundle_100_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/glory_shop/glory_bundle_550_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/glory_shop/glory_bundle_1150_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/glory_shop/glory_bundle_3000_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/glory_shop/glory_bundle_6500_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/glory_shop/glory_bundle_15000_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/glory_shop/glory_bundle_100_no_fortune_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/glory_shop/glory_bundle_550_no_fortune_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/glory_shop/glory_bundle_1150_no_fortune_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/glory_shop/glory_bundle_3000_no_fortune_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/glory_shop/glory_bundle_6500_no_fortune_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/glory_shop/glory_bundle_15000_no_fortune_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/glory_shop/fragment_bundle_1000_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/glory_shop/fragment_bundle_5500_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/glory_shop/fragment_bundle_11500_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/glory_shop/fragment_bundle_30000_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/glory_shop/fragment_bundle_65000_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/glory_shop/fragment_bundle_150000_png.vtex");
	background-image: url("s2r://");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmeticabilities/seasonal_ti9_banner_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmeticabilities/seasonal_summon_cny_balloon_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmeticabilities/seasonal_summon_dragon_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmeticabilities/seasonal_summon_cny_tree_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmeticabilities/seasonal_firecrackers_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmeticabilities/seasonal_ti9_shovel_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmeticabilities/seasonal_ti9_instruments_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmeticabilities/seasonal_ti9_monkey_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmeticabilities/seasonal_summon_ti9_balloon_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmeticabilities/seasonal_throw_snowball_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmeticabilities/seasonal_festive_firework_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmeticabilities/seasonal_decorate_tree_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/cosmeticabilities/seasonal_summon_snowman_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/default_cosmetic_ability_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/spray_empty_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/spray_no_empty_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/mastery/fortune_icon_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/mastery/fortune_icon_gold_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/mastery/mastery_poligon_tier_1_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/mastery/mastery_poligon_tier_2_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/mastery/mastery_poligon_tier_3_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/mastery/mastery_poligon_equipped_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/mastery/mastery_poligon_mask_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/mastery/mastery_equipped_flag_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/mastery/mastery_poligon_selected_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/mastery/icons/abjuration_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/mastery/icons/acrobatics_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/mastery/icons/ascension_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/mastery/icons/brute_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/mastery/icons/celerity_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/mastery/icons/champion_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/mastery/icons/cleave_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/mastery/icons/colossus_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/mastery/icons/control_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/mastery/icons/countermagic_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/mastery/icons/evasion_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/mastery/icons/ferocity_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/mastery/icons/giant_reach_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/mastery/icons/glass_cannon_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/mastery/icons/heavy_armor_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/mastery/icons/initiative_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/mastery/icons/iron_body_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/mastery/icons/luck_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/mastery/icons/magician_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/mastery/icons/manafication_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/mastery/icons/might_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/mastery/icons/nimble_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/mastery/icons/regeneration_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/mastery/icons/revenge_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/mastery/icons/speed_of_thought_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/mastery/icons/spell_vampirism_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/mastery/icons/spellcraft_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/mastery/icons/sprinter_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/mastery/icons/tenacity_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/mastery/icons/vampirism_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/othersources/tournament_2020_4_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/heroskins/gold_character_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/heroskins/ice_chrome_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/heroskins/nightwing_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/collection/heroskins/living_energy_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/ability_selection/innate_opacity_mask_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/ability_selection/panel_bg_clean_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/ability_selection/button_bg_reroll_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/ability_selection/button_bg_close_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/ability_selection/button_bg_supporter_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/ability_selection/innate_border_psd.vtex");
	background-image: url("s2r://panorama/images/custom_game/no_user_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/supp_plus_png.vtex");
	background-image: url("s2r://");
	background-image: url("s2r://");
	background-image: url("s2r://panorama/images/custom_game/leaderboards/leaderboards_cup_ffa_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/leaderboards/leaderboards_cup_duos_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/leaderboards/leaderboards_cup_squads_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/leaderboards/leaderboards_cup_enfos_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/leaderboards/leaderboards_icon_ffa_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/leaderboards/leaderboards_icon_duos_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/leaderboards/leaderboards_icon_squads_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/leaderboards/leaderboards_icon_enfos_png.vtex");
	background-image: url("s2r://");
	background-image: url("s2r://panorama/images/custom_game/leaderboards/leaderboards_trophy_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/leaderboards/leaderboards_background_1_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/leaderboards/leaderboards_background_2_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/leaderboards/leaderboards_icon_top0_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/leaderboards/leaderboards_icon_top1_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/leaderboards/leaderboards_icon_top2_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/leaderboards/leaderboards_icon_top3_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/perks/mp_regen_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/perks/hp_regen_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/perks/move_speed_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/perks/agi_per_level_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/perks/str_per_level_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/perks/int_per_level_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/perks/all_stats_per_level_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/perks/health_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/perks/attack_range_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/perks/cast_range_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/perks/cooldown_reduction_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/perks/attack_damage_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/perks/attack_speed_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/perks/evasion_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/perks/armor_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/perks/magic_resist_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/perks/damage_resist_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/perks/lifesteal_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/perks/spell_lifesteal_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/perks/spell_amp_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/perks/status_resist_png.vtex");
	background-image: url("s2r://panorama/images/custom_game/perks/heal_amp_png.vtex");
	background-image: url("s2r://");
	background-image: url("s2r://");
}

